header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        u1
            li
                a(href=routes.join) Join 
            li 
                a(href=routes.login) Log In